<section id="footer">
    <ul class="icons">
        <li><a href="https://t.me/initprism" title="Telegram"><i class="fao fa-lg fa-brands fa-telegram"></i></a></li>
        <li><a href="https://open.kakao.com/o/sLS4puHe" title="Kakaotalk"><i class="fa-sharp fa-solid fa-comments"></i></a></li>
        <li><a href="https://keybase.io/initprism" title="Keybase"><i class="fao fa-lg fa-brands fa-keybase"></i></a></li>
        <li><a href="https://www.github.com/initprism" title="Github"><i class="fao fa-lg fa-brands fa-github"></i></a></li>
    </ul>
    <p class="copyright">&copy; 2021&mdash;2022 - {{ config.extra.author.name }}</p>
</section>
